@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DigiPoint Workshop -demo</h1>
    <p class="lead">Koodiharjoitusten läpikäyntiä uudelleen</p>
    <p><a href="/Henkilo/index" class="btn btn-primary btn-lg">Henkilöittäin &raquo;</a></p>
    <p>ViewBagin viesti on TÄSSÄ: @ViewBag.TestiViesti</p>
</div>

